$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "~nprogress/nprogress.css";

@import "_custom";

.logo_left {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.button {
  width: 15rem !important;
  height: 10rem !important;
  font-size: 1.7rem !important;
  border-radius: 8% !important;
  margin: 0 2rem 2rem 0;

  box-shadow: 0px 2px 4px rgb(66, 66, 66);
  background-color: rgb(225 225 225);
  border: none;
  color: rgb(0, 0, 0);
}

.modal-header .btn-close {
  background-color: aliceblue !important;
}

.modal-content {
  border: 1px solid !important;
}

//NAV
.item_nav {
  font-size: 19px;
  color: white;
}

.card_body_audit {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form_logs {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.block1 {
  display: flex;
  justify-content: space-between;
}

.buttonGroup {
  margin-bottom: 2.5rem !important;
}

.form_group_logs {
  margin-right: 20px !important;
}
