$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "~nprogress/nprogress.css";

@import "_custom";

.logo_left{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.button {
    width: 15rem !important;
    height: 10rem !important;
    font-size: 1.7rem !important;
    border-radius: 8% !important;
    margin: 0 2rem 2rem 0
}
